<div class="edit-form">
  <form name="form" [formGroup]="editForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="form-group">
      <p>{{sub.token}}</p>
    </div>

    <button (click)="leaveEditMode()" class="btn btn-default btn-sm done"><span class="glyphicon glyphicon-ok"></span></button>
    <div class="form-group percent-edit">
      <div class="input-gr">
        <label for="percent">Percent</label>
        <input type="text" class="form-control" name="percent" placeholder="{{sub.percent}}"/>
      </div>

      <div class="input-gr">
        <label for="percent">Min Val</label>
        <input type="text" class="form-control" name="minVal" placeholder="{{sub.minVal}}"/>
      </div>

      <div class="input-gr">
        <label for="percent">Max Val</label>
        <input type="text" class="form-control" name="maxVal" placeholder="{{sub.maxVal}}"/>
      </div>

      <div class="input-gr">
        <label for="percent">Min/Max % Change</label>
        <input type="text" class="form-control" name="minMaxChange" placeholder="{{sub.minMaxChange}}"/>
      </div>
    </div>
    <!-- <button type="button" class="btn btn-small btn-primary" (click)="leaveEditMode()">Done</button> -->
  </form>
</div>
