.create-wrapper {
  // min-width: 330px;
}

.mat-dialog-container {
  min-width: 330px !important;
  max-width: 100vw !important;
}

@media screen and (min-width: 376px) {
  .create-wrapper {
    min-width: 330px;
  }
}

#create-form {
  // min-width: 365px;

  .buttons {
    text-align: center;

    button:first-child {
      margin-right: 10px;
    }
  }
}