#page-content-wrapper {
  width: calc(100% - 50px);
  position: absolute;
  padding: 15px;
  transition: all 400ms ease-in-out;
  margin-left: 50px;
  background-color: #e8f0fd;
  height: 100%;
}

.menuDisplayed {
  margin-left:250px !important;
}