<section class="app-container">
  <div class="container">
    <div class="outlet-wrapper">

      <div class="card-wrapper"><app-card></app-card></div>
      <div class="card-wrapper"><app-card></app-card></div>
      <div class="card-wrapper"><app-card></app-card></div>
      <div class="card-wrapper"><app-card></app-card></div>
      <div class="card-wrapper"><app-card></app-card></div>
      <div class="card-wrapper"><app-card></app-card></div>
      <div class="card-wrapper"><app-card></app-card></div>
      <div class="card-wrapper"><app-card></app-card></div>
    </div>
  </div>
</section>
