.bottom-section {
  background-color: #f2f2f2;
  height: 100%;

  .info-holder {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .info-inactive {
    text-align: center;
    font-size: 14px;
  }

  .info {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .info-label {
      font-size: 13px;
    }

    .info-value {
      font-size: 12px;
      color: rgba(0,0,0,.5)
    }
  }
}