<div class="bottom-section">
  <div *ngIf="active" class="info-holder">
    <div class="info">
      <span class="info-label">notify %</span>
      <span class="info-value">{{percent}}</span>
    </div>

    <div class="info">
      <span class="info-label">Min Value</span>
      <span class="info-value">{{minVal}}</span>
    </div>

    <div class="info">
      <span class="info-label">Max Value</span>
      <span class="info-value">{{maxVal}}</span>
    </div>
  </div>
  <div *ngIf="!active" class="info-holder">
    <div class="info-inactive">
      <p>Please press the play button to start watching this coin</p>
    </div>
  </div>
</div>