$sidebar-width: 50px;

$small-device: "only screen and (max-width: 480px)";
$medium-device: "only screen and (min-width: 481px) and (max-width: 1024px)";
$large-device: "only screen and (min-width: 1025px)";