@import "../../../assets/styles/_mixins.scss";

#login-form {

  button {
    margin-right: 20px;
  }

  .password-error-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }



  .error-msg {
    position: absolute;

    font-size: 15px;
    margin-top: 5px;
    color: red;
  }

  .buttons {
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
  }

  input[type="password"] {
    @include input-placeholder {
      position: relative;
      top: 3px;
    }
  }
}


