<div id="sidebar-wrapper" [ngClass]="{'menuDisplayed': expanded}">
  <!-- expanded -->
  <ul *ngIf="expandedText" class="sidebar-nav" id="#navbar-collapse-1">
    <div class="brand-header">
      <h2>Crypto</h2>
    </div>
    <li><a href="#"><span class="glyphicon glyphicon-home"></span>Home</a></li>
    <li (click)="addSub()"><a href="#"><span class="glyphicon glyphicon-plus"></span>Create New</a></li>
    <li (click)="logout()"><a class="logout-text"><span class="glyphicon glyphicon-log-out"></span>Logout, {{authService.getUsername()}}</a></li>
  </ul>

  <!-- minimized -->
  <ul class="sidebar-icons" *ngIf="!expandedText"  id="#navbar-collapse-1">
    <li>
      <a (click)="openMenu()" class="btn btn-info btn-sm">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </a>
    </li>
    <li><span class="glyphicon glyphicon-home"></span></li>
    <li (click)="addSub()"><span class="glyphicon glyphicon-plus"></span></li>
    <li (click)="logout()"><span class="glyphicon glyphicon-log-out"></span></li>
  </ul>
</div>