#sidebar-wrapper {
  z-index: 1;
  position: absolute;
  width: 50px;
  height: 100%;
  overflow-x: hidden;
  background: #2c3e50;
  opacity: 0.9;
  transition: all 200ms ease-in-out;

  .brand-header {
    h2 {
      color: #dd5f5f;
      padding-left: 20px;
    }
  }

  .sidebar-icons {
    padding: 0;
    list-style: none;
    color: white;

    li {

      &:first-child:hover {
        background-color: initial;
      }

      cursor: pointer;
      height: 40px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        background-color: #16a085
      }
    }
  }

  .sidebar-nav {
    padding: 0;
    list-style: none;

    li {
      text-indent: 20px;
      line-height: 40px;

      a {
        display: block;
        text-decoration: none;
        color: #ddd;

        span {
          padding-right: 20px;
        }

        &:hover {
          background-color: #16a085;
        }
      }
    }
  }
}



.menuDisplayed {
  width: 250px !important;
}